.book{
    float:left;
    margin: 2%;
    border: 1px solid navy;
    border-radius: 2px;
    color: navy;
    background: rgb(255, 255, 255);
    text-shadow: 2px 2px rgb(255, 255, 255);
    width: 95%;
    font-weight: bolder;
}

.buttons{
    float: right;
    margin: 2px;
    color: navy;
    background: white;
    border: 2px solid navy;
    border-radius: 2px;
    cursor: pointer;
}

.header{
    margin: 3%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.img{
    height: 15%;
    width: 15%;
    border: 1px solid navy;
    margin: 3%;
    margin-top: 0;
    float: left;
    height: 130px;
}

.author{
    margin-left: 3%;
    font-weight: lighter;
}

.synopsis{
    font-weight: lighter;
    margin: 3%;
    margin-top: 0;
    font-size: 14px;
    height: 130px;   
}

.link{
    color: navy;
}

.link:hover {
    text-decoration: none;
    color: navy;
  }